---
layout: null
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

// Variables
$head-font:   'Lato', sans-serif;
$head-size:    22px; // replace "base-font-size"
$head-weight:  700;

$body-font:   'Lato', serif; // replace "base-font-family"
$body-size:    22px; // replace "base-font-size"
$body-weight:  300;

$code-font:   'Lato', serif; // replace later

$small-font-size:   17.5px;
$small-font-weight: 300;
$line-height:       1.4; // replace "base-line-height"

$spacing-unit:    30px;
$avatar-size:     350px;

$gray-color:      #d3d3d3; // replace "grey-color" "grey-color-dark" "grey-color-light"
$brand-color:     #34495e;
$pop-color:       #16a085;
$back-color:      #ffffff; // replace "background-color"
$text-color:      #2a2a2a;
$link-color:      #3498db;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "custom";
@import "layout";
@import "header";
@import "footer";
@import "syntax";
