<footer class="site-footer">
  <div class="inline-list">
    <ul>
      <!-- Social -->
      {% assign social = site.data.socials %}
      {% for social in socials %}
      {% if social.show == true %}
      <li>
        <a href="http://{{social.site}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      {% endif %}
      {% endfor %}
      <!-- RSS -->
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Meta -->
  <div class="footer-meta">
    <ul>
      <li><i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} {{ site.owner }}</li>
      <!-- add your footer information here between <li></li> tags -->
    </ul>
  </div>
</footer>
