<footer class="site-footer">
  <div class="inline-list">
    <ul>
      <!-- Twitter -->
      <li>
        <a href="https://twitter.com/{{ site.social_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <!-- Instagram -->
      <li>
        <a href="https://instagram.com/{{ site.social_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <!-- Linkedin -->
      <li>
        <a href="https://linkedin.com/in/{{ site.social_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <!-- GitHub -->
      <li>
        <a href="https://github.com/{{ site.social_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-git fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <!-- RSS -->
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Meta -->
  <div class="footer-meta">
    <ul>
      <li><i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} {{ site.author }}</li>
      <li>Site Created by <a href="http://github.com/daveas/daveas.github.io">{{ site.credits }}</a></li>
      <li><a href="mailto:{{site.email}}?Subject=Hi%"><i class="fa fa-envelope"></i> me</a></li>
    </ul>
  </div>
</footer>
