.site-header {
  border-top: 5px solid $gray-color;
  border-bottom: 1px solid $gray-color;
  min-height: 56px;
  position: relative;
}

.site-title {
  color: $brand-color;
  font-family: $head-font;
  font-weight: $head-weight;
  font-size: 26px;
  line-height: 56px;
  margin-bottom: 0;
  float: left;
  &:visited {
      color: $brand-color;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $back-color;
    border: 1px solid $gray-color;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      line-height: 0;
      margin: 0;
      padding: 5px 10px 5px 10px;
      text-align: center;
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}
