// .site-header {
//   font-family: $head-font-family;
//   width: 100%;
//   height: $spacing-unit*3;
//   border-bottom: 1px solid $soft-color;
//   padding: 0 $spacing-unit/2;
// }

// .site-title {
//   font-size: $spacing-unit;
//   line-height: $spacing-unit*3;
//   float: left;
//   @include plain-link($text-color);
  
//   img {
//     height: 80px;
//   }
// }

.site-nav {
  position: absolute;
  right: $spacing-unit;
  top: $spacing-unit;
  font-size: 20px;
  max-width: 70%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: right;
    
  .menu-icon {
    display: block;
    float: right;
    line-height: 0;
    margin: 0;
    padding: 5px 10px 5px 10px;
    text-align: center;
  }

  .trigger {
    clear: both;
    display: none;
  }

  &:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  
  .page-link {
    display: block;
    padding: 5px 10px;
  }

  @include media-query($bp-phablet) {
    position: relative;
    border: none;
    float: right;
    max-width: 30%;
    line-height: $spacing-unit*3;

    .menu-icon {
      display: none;
    }

    .page-link {
      color: $text-color;
      line-height: 1;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}
