.column,
.columns {
  width: 100%;
  float: left;
  @extend %extend-border-box;
}

@include media-query($bp-mobile) {
  .container {
    width: 85%;
    padding: 0; }
}

@include media-query($bp-phablet) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns        { width: 4.66666666667%; }        // (1/12)*100-((12-1))/3)
  .two.columns        { width: 13.3333333333%; }        // (2/12)*100-((12-2))/3)
  .three.columns      { width: 22%;            }        // (3/12)*100-((12-3))/3)
  .four.columns       { width: 30.6666666667%; }        // (4/12)*100-((12-4))/3)
  .five.columns       { width: 39.3333333333%; }        // (5/12)*100-((12-5))/3)
  .six.columns        { width: 48%;            }        // (6/12)*100-((12-6))/3)
  .seven.columns      { width: 56.6666666667%; }        // (7/12)*100-((12-7))/3)
  .eight.columns      { width: 65.3333333333%; }        // (8/12)*100-((12-8))/3)
  .nine.columns       { width: 74.0%;          }        // (9/12)*100-((12-9))/3)
  .ten.columns        { width: 82.6666666667%; }        // (10/12)*100-((12-10))/3)
  .eleven.columns     { width: 91.3333333333%; }        // (11/12)*100-((12-11))/3)
  .twelve.columns     { width: 100%; margin-left: 0; }  // (12/12)*100-((12-12))/3)
  .one-third.column   { width: 30.6666666667%; }
  .one-half.column    { width: 48%; }
  .two-thirds.column  { width: 65.3333333333%; }
}
